<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <img class="displayed" slot="start" height="50px" width="50px" src="../../assets/icon/goodfood-market--600.png" routerLink="/co">
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">
  <p style="font-weight:bold; font-size: 25px;">My order</p>

  <ion-button (click)="close()" style="margin-top:400px; margin-left:110px" routerLink="/pay">Validate</ion-button>
</ion-content>
